
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Completion of registration";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completion of registration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h2>@ViewBag.Title</h2>

        <p>Further instructions for completing registration have been sent to the email address.</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
