@model WebForumTestTask.Models.Theme
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creation of a new topic</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using (Html.BeginForm())
    {
    <div class="container">
        <h2>Creation of a new topic</h2>
        <div class="form-group">
            @Html.LabelFor(m => m.Title, "Title of topic")
            @Html.EditorFor(m => m.Title)
        </div>
        <div class="form-group">
            <input type="submit" value="Add" />
        </div>
    </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
