@model WebForumTestTask.ViewModels.ThemeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Theme.Title;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Theme.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        li {
            list-style-type: none;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h4>@Model.Theme.Title</h4>
    </div>
    <hr />
    <div class="container">
        @foreach (var post in Model.Posts)
        {
            <p>
                <div class="row">
                    <div class="col-sm-5"><b>@post.User.UserName</b></div>
                    <div class="col-sm-3"><i>Posted on @post.Post.PostDate</i></div>
                    <div class="col-sm-3"><i>Updated on @post.Post.UpdateDate</i></div>
                    <div class="col-sm-1"><b>@Html.ActionLink("Edit post", "Edit", "Post", new { post.Post.Id }, null)</b></div>
                </div>
                <div class="col-sm-12">
                    <div>@post.Post.MessageText</div>
                    <hr />
                </div>
            </p>
        }
    </div>
    <li><a href="@Url.Action("Add", "Post", new WebForumTestTask.Models.Post { ThemeId = Model.Theme.Id }, null)" class="btn btn-default btn-sm">Add post</a></li>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
