@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forum GeeksForLess</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h3>Forum GeeksForLess</h3>
        <a href="/Home/Add" class="btn btn-info" role="button">Add topic</a>
        <div class="list-group">
            @foreach (var t in ViewBag.Themes)
            {
                <a href="/Home/Posts/@t.Id" class="list-group-item list-group-item-action">@t.Title</a>
            }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>